---
name: Linter
on:
  - push
permissions: read-all
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: super-linter/super-linter@v7
        env:
          FILTER_REGEX_EXCLUDE: download_amber\.sh
          GITHUB_TOKEN: secrets.GITHUB_TOKEN
