---
name: Test
on:
  - push
permissions:
  contents: read

jobs:
  test-basic:
    name: Test basic script execution
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run basic Amber script
        uses: ./
        with:
          amber-version: 0.4.0-alpha
          script: |
            const msg = "Hello World!"
            echo msg
            echo "The length of the previous message is {len msg}"
