---
name: Tofu
on:
  pull_request:
    paths:
      - ".tf/**"
      - .github/workflows/tf.yaml
  push:
    branches:
      - main
    paths:
      - ".github/tf/**"
      - .github/workflows/tf.yaml
  workflow_dispatch:

permissions: {}

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      security-events: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: lens0021/repo-settings-as-code@70913c9019cb279344e81c9ad640d2fd3f62cf47 # v2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
